@model List<Nop.Plugin.Misc.PurchaseOrder.Areas.Admin.Models.PurchaseOrderProductMappingModel>

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = "Purchase Order Products";
    NopHtml.SetActiveMenuItemSystemName("PurchaseOrder");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        Products in Purchase Order
    </h1>
    <div class="float-right">
        <a asp-action="PurchaseList" class="btn btn-primary">
            <i class="fas fa-arrow-left"></i>
            @T("Admin.Common.BackToList")
        </a>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="card card-default">
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>SKU</th>
                                <th>Current Stock</th>
                                <th>Quantity to Order</th>
                                <th>Unit Cost</th>
                                <th>Line Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Sku</td>
                                    <td>@item.CurrentStock</td>
                                    <td>@item.QuantityToOrder</td>
                                    <td>@item.UnitCost.ToString("C")</td>
                                    <td>@item.LineTotal.ToString("C")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
